<div *ngIf="userAttendances?.length > 0">
  <table>
      <thead>
          <tr>
              <th>Project name</th>
              <th>Start time</th>
              <th>End time</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let attendance of userAttendances; let i = index" [attr.data-index]="i">
              <td>{{ attendance.project.name }}</td>
              <td>{{ attendance.start_date }}</td>
              <td>{{ attendance.end_date }}</td>
          </tr>
      </tbody>
  </table>
</div>