<div *ngIf="userProjects?.length > 0">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Project name</th>
                <th>Description</th>
                <th>Owner</th>
                <th>Klokken</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of userProjects; let i = index" [attr.data-index]="i">
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.owner.name }}</td>
                <td *ngIf="!currentAttendance[i]" ><button class="btn btn-primary" (click)="inklokken(project.id)">inklokken</button></td>
                <td *ngIf="currentAttendance[i]"><button class="btn btn-primary"  (click)="uitklokken(currentAttendance[i])">uitklokken</button></td>
            </tr>
        </tbody>
    </table>
</div>